<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <!--设置别名-->
    <typeAliases>
        <package name="com.bjpowernode.domain"/>
    </typeAliases>

    <mappers>
        <!--name是包名，这个包中的所有mapper.xml文件都能一次性加载进来-->
        <package name="com.bjpowernode.dao"/>

        <!--<mapper resource="com/bjpowernode/dao/StudentDao.xml"/>-->
    </mappers>
</configuration>